<html>
<head>
	<title>WhileIRemember</title>
	<meta charset="UTF-8">
	<meta name="keywords" content="reminder, remember, while, i, remember, memory, email reminder, free reminder">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../resources/css/style.css">
</head>
<body>
	<div class="header"></div>
	<h2>Hello World!</h2>
	<p>Test of home controller</p>
	<form>
		<input type="text"> <input type="submit">

	</form>

	<div class="footer"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../../resources/js/app.js"></script>
</body>
</html>